{% extends "layout.html" %}

{% block page_id %}accessibility{% endblock %}
{% block title %}Accessibility in the federal government - By agency{% endblock %}
{% block description %}How federal government domains are doing at accessibility.{% endblock %}

{% block content %}

{% include 'includes/accessibility/header.html' %}

<section id="main-content" class="white-bkg">
  <nav class="tab-menu">
    <a href="/accessibility/domains/" class="tab">By Domain</a>
    <span class="tab">By Agency</span>
    <a href="/accessibility/guidance/" class="tab">Guidance</a>
  </nav>
  <div class="wrapper">
    <table class="agency responsive https">
      <caption>Accessibility By Agency</caption>
      <thead>
        <tr>
          <th class="all" scope="col">Agency</th>
          <th class="all" scope="col">No. of Errors</th>
          <th class="min-tablet" scope="col">Color Constrast Errors</th>
          <th class="min-tablet" scope="col">HTML/Attribute Errors</th>
          <th class="desktop" scope="col">Form Errors</th>
          <th class="desktop" scope="col">Alt Tag Errors</th>
          <th class="desktop" scope="col">Other Errors</th>
        </tr>
      </thead>
    </table>
  </div>
</section>

<script src="/static/js/accessibility/agencies.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
{% endblock %}
