{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS in the federal government - All domains{% endblock %}
{% block description %}How federal government domains are doing at deploying HTTPS.{% endblock %}

{% block content %}

{% include 'includes/accessibility/header.html' %}

<section id="main-content" class="white-bkg">
  <nav class="tab-menu">
    <span class="tab">By Domain</span>
    <a href="/https/agencies/" class="tab">By Agency</a>
    <a href="/https/guidance/" class="tab">Guidance</a>
  </nav>
  <div class="wrapper">
    <table class="domain responsive https">
        <thead>
          <tr>
            <th class="all">Domain</th>
            <th class="all">Errors</th>
            <th class="all">Warnings</th>
          </tr>
        </thead>
    </table>
  </div>
</section>

<script src="/static/js/accessibility/domains.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

{% endblock %}
