{% extends "layout.html" %}

{% block page_id %}accessibility{% endblock %}
{% block title %}Accessibility - Pulse{% endblock %}
{% block description %}How federal government domains are doing at accessibility.{% endblock %}

{% block content %}

{% include 'includes/accessibility/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">By Domain</span>
    <a href="/a11y/agencies/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Agency</a>
    <a href="/a11y/guidance/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Guidance</a>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">
    <table class="domain responsive https">
      <caption>Accessibility By Domain. Table is sortable via first row table headers. Each row contains a domain and related attributes.</caption>
      <thead>
        <tr>
          <th class="all">Domain</th>
          <th class="all">Findings</th>
          <th class="all">Agency</th>
          <th class="none" scope="col"></th>
        </tr>
      </thead>
    </table>
  </div>

</section>

<script src="/static/js/accessibility/domains.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

{% endblock %}
