{% extends "layout.html" %}

{% block page_id %}accessibility{% endblock %}
{% block title %}Accessibility - Pulse{% endblock %}
{% block description %}How federal government domains are doing at accessibility.{% endblock %}

{% block content %}

{% include 'includes/accessibility/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="/a11y/domains/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Domain</a>
    <a href="/a11y/agencies/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Agency</a>
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">Guidance</span>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">

    <div class="guide">

      <h3>Below you will find some helpful tips to help guide you towards getting a better score on Pulse for your domain or agency. For any further questions, please visit our <a href="/about/">frequently asked questions</a>.</h3>

      <article>
        <h4>What domains are measured?</h4>
        <p>
        Pulse scans for certain common accessibility issues on publicly accessible .gov domains in the federal government's executive branch. Domains which simply redirect to other websites are not measured.
        </p>
        <p>
        This currently amounts to around 800 domains.
        </p>
        <p>
        Pulse scans second-level federal .gov domains (e.g., agency.gov), checking the <a href="https://github.com/GSA/data/tree/gh-pages/dotgov-domains">official .gov domain list</a>.  Note that third-level federal domains (e.g., program.agency.gov), .mil, .edu, .us, and state, local, and Native Sovereign Nation (NSN) domains are NOT currently scanned by Pulse.
        </p>
      </article>


      <article>
        <h4>PULSE Accessibility Spot Checks</h4>
        <p>
        The PULSE Accessibility Module performs the following spot checks, informed by the current Section 508 standards. The checks use the WCAG 2.0 success criteria associated with each standard to inform the testing approach. 
        </p>
        <p>

  <table>
  <caption>WCAG 2.0 and 508 Mapping</caption>
  <tr>
    <th scope="col">
      Pulse Check
    </th>
    <th scope="col">
      508 Provision
    </th>
    <th scope="col">
      Corresponding WCAG Guideline
    </th>
    <th scope="col">
      Summary
    </th>
  </tr>
  <tr>
    <td>Images with missing text descriptions</td>
    <td>1194.22(a)</td>
    <td>1.1.1 Non-text Content [A]</td>
    <td>Pulse is checking to determine if images and other non-text content, including user interface elements, contain a text description.  Full conformance with 1194.22(a) also requires a meaningful text description.  This requires manual inspection and therefore cannot be tested by PULSE.</td>
  </tr>
  <tr>
    <td>Color contrast </td>
    <td>1194.31(b) -- Low vision</td>
    <td>1.4.3 Contrast (Minimum) [AA]</td>
    <td>Pulse is checking to ensure there is enough contrast between text and its background so that it can be read by people with moderately low vision (specifically a contrast ratio of 4.5:1)</td>
  </tr>
  <tr>
    <td>Name, role, value</td>
    <td>1194.21(d)</td>
    <td>4.1.2 Name, Role, Value [A]</td>
    <td>Pulse is checking for anchor elements found with a valid attribute, but where no link content has been supplied. Anchor element found with no link content and no name and/or ID attribute. Full conformance with 1194.21 (d) requires that sufficient information about all user interface components (including identity, operation, and state) is available to assistive technology</td>
  </tr>
</table>
        </p>
      <p>
      <h4>Disclaimer</h4>
      </p>
        <p>
        The Pulse reports <strong><u>do not</u> constitute a complete accessibility evaluation</strong>.  Rather, they display the initial results of limited automated scans that address only a small portion of what’s required to make a website fully accessible. In addition, although significant effort has been taken to ensure accuracy, Pulse may occasionally cite potential errors that, through additional manual testing, are found to be false positives. Due to limitations of automated testing, the Pulse checks are not intended to be authoritative, and are not intended to convey a Section 508 conformance assessment.
        </p>
        <p>
        <strong>Only a professional evaluator can perform a complete accessibility evaluation</strong>. Agencies should use both manual and automated tests to fully assess whether their website is accessible.  For testing guidance, please refer to the <a href="https://www.dhs.gov/sites/default/files/publications/Baseline_Tests_for_Software_and_Web_Accessibility_3.pdf">Harmonized Testing Process for Section 508 Compliance: Baseline Tests for Software and Web Accessibility</a>.
        </p>
      </article>

      <article>
        <h4>Section 508 Accessibility Standards</h4>
        <p>
        In 2000, Section 508 of the Rehabilitation Act of 1973 was amended to include technical requirements for all Federal government Electronic & Information Technology (EIT) to be made accessible to persons with disabilities. ‘Section 508’ has since become synonymous with technology accessibility standards in government jargon.  Refer to the <a href="https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards">Section 508 standards</a> for more information.
        </p>
      </article>

      <article>
        <h4>WCAG 2.0</h4>
        <p>
        Around the same time that the government was amending Section 508, the World Wide Web Consortium (W3C) was busy developing their own standards. The first official version, released in 1999, was call the Web Content Accessibility Guidelines (WCAG 1.0). To keep pace with the evolving online environment, the standards were updated in 2008 to their current version, WCAG 2.0. In the proposed Section 508 Standards refresh, the web content section formally incorporates the more detailed WCAG 2.0 Level AA standards.  Refer to the <a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0 Guidelines</a> for more informations.
        </p>
        <p>
        <strong>Why is this important?</strong>
        </p>
        <p>
        Citizens rely on their government for a range of essential services that impact their well-being, such as medicare/medicaid/social security support, assistance in finding low-income housing, travel information from the State Department, health information from the CDC, etc. Disabled veterans rely on the support of the Department of Veteran’s Affairs for a range of vital services. All citizens must file an annual tax return. Many small companies access government websites to bid on government contracts and grow their business.
        </p>
        <p>
        When this information is presented in a way that is not accessible to people with disabilities, those people are shut out from essential services and opportunities that should be available to all Americans. Additionally, a large number of Americans with disabilities are employed by the federal government, and having accessible technology is essential for them to be able to perform their work effectively. Accessibility has long been a priority for the federal government, and a recent <a href="https://www.whitehouse.gov/sites/default/files/omb/egov/memo/policies-for-dot-gov-domain-issuance-for-federal-agency-public-websites.pdf">White House web standards memo</a> further reinforced our commitment that all federal websites are accessible to all users.
        </p>
        <p>
        <strong>Limitations</strong>
        </p>
        <p>
       All issues which prevent full access to websites is not possible with the current state of automated testing tools.  For instance, while we can automatically check if an image on a website has an alt text attribute, we cannot measure if that alt text is sufficiently descriptive; a picture of a dog with an alt text attribute that reads “cow” would pass the automatic check, but since the alt text is incorrect, the image is not accessible. While we can detect the background color and text color by reading a page’s Cascading Style Sheets (CSS), we may not be able to detect the color of an image; if text is overlayed on a background image, we would not be able to measure whether the level of contrast is sufficient. It is for these reasons that fully assessing a site’s accessibility still requires manual evaluation by an accessibility professional.
        </p>
        <p>
        <strong>How common accessibility errors impact website visitors</strong>
        </p>
        <p>
        There are a wide range of requirements for accessible web content. Here are a few examples of common accessibility errors:
        <ul>
          <li>A website uses an image to convey information without including a descriptive alt text attribute. This error would make it impossible for the visually impaired to access the information conveyed by the image.</li>
          <li>The text on a page has poor contrast with the background color (for instance, light green text on a dark green background). This makes it difficult or impossible for those with some visual impairments (such as colorblindness) to use the information.</li>
          <li>When the web page includes custom controls where the name, role and value cannot be programmatically determined, it could be difficult or impossible for people with visual impairments to know the controls exist, what types of controls they are, and in some cases what value is associated with the control (for example - a missing link or skip to main content that is not working).</li>
        </p>
        <p>
        <strong>How we measure accessibility on Pulse</strong>
        </p>
        <p>
        While we cannot fully measure accessibility with automated tools, we can measure for broader potential issues on websites, such as whether an image does or does not contain alt text, whether there is sufficient contrast between the text and background, whether a page is properly structured for someone using a screen reader to access the information, etc. To do this, we employ an open-source tool known as Pa11y. Pa11y uses another open-source tool, the HTML_Codesniffer, to identify accessibility errors.
        </p>
        <p>
        <strong>Other measurement tools</strong>
        </p>
        <p>
        While Pa11y is the tool we chose to measure accessibility on Pulse, there are a range of other excellent proprietary and open-source tools available to assist web developers and IT managers in understanding how to build accessible technology.
        </p>
        <p>
        The HTML_Codesniffer, the technology behind Pa11y, is a browser extension that can be used to automatically detect some accessibility errors on a webpage. The HTML_Codesniffer will point out the particular code snippet with the error, the location of the error on the page, and the principle violated by the error.
        </p>
        <p>
        To showcase another example, the University of Illinois has been working for several years to develop another free, open-source tool, the <a href='http://fae20.cita.illinois.edu/'>Functional Accessibility Evaluator (FAE)</a>. While the tool is still under development, the current version is an excellent way to evaluate a full website; in contrast to Pa11y, the FAE can crawl the subdomains of a website, allowing a more comprehensive scan that can identify more potential accessibility issues.
        </p>
        <p>
        <strong>How to correct accessibility errors</strong>
        </p>
        <p>
        The tools listed above provide web developers and content managers with the information they need to pinpoint the errors on their pages. While some errors may involve a significant overhaul of a site’s architecture, most can be corrected by deleting errant tags, making minor CSS adjustments, and adding alt text to images. 
        </p>
        <p>
Technical Guidance:
          <ul>
            <li><a href="https://www.ssa.gov/accessibility/files/SSA_Alternative_Text_Guide.pdf">How to fix images with missing descriptions</li>
            <li><a href="/static/color_contrast-evaluation.docx">How to fix color contrast issues</a></li>
            <li><a href="/static/name_role_value.docx">How to fix name, role, value issues</a></li>
          </ul>      
        If you need help fixing errors identified in Pulse, contact your agency’s 508 coordinator.  Additionally, GSA’s Office of Governmentwide Policy (OGP) conducts training to help 508 coordinators and IT/content professionals better understand how to build accessible technology. To learn more about accessible technology, contact the Government-wide Section 508 Program at <a href='mailto:mailto:Section.508@gsa.gov'>Section.508@gsa.gov</a> or visit <a href="https://section508.gov/">https://section508.gov/</a>.
        </p>
      </article>

    </div>

  </div>

</section>

{% endblock %}
