{% extends "layout.html" %}

{% block page_id %}analytics{% endblock %}
{% block title %}Customer Satisfaction Surveys - Pulse{% endblock %}
{% block description %}Which federal government domains are using customer satisfaction surveys.{% endblock %}

{% block content %}

{% include 'includes/analytics/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="/customer-satisfaction/domains/" class="tab" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Domain</a>
    <a href="/customer-satisfaction/agencies/" class="tab" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Agency</a>
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">Guidance</span>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">

    <div class="guide">

      <h3>Below you will find some helpful tips to help guide you towards getting a better score on Pulse for your domain or agency. For any further questions, please visit our <a href="/about/">frequently asked questions</a>.</h3>

      <article>

        <h4>What domains are measured?</h4>

        <p>
          Pulse measures customer satisfaction survey use for <strong>publicly accessible <code>.gov</code> domains</strong> in the federal government's <strong>executive branch</strong>. Domains which do nothing but redirect to other websites <strong>are not measured</strong>.
        </p>

      </article>

      <article>

        <h4>How to participate</h4>

        <p>
          There are numerous survey tools for measuring customer satisfaction.  Integrating one of them on your site should result in your site indicating that it has added a customer satisfaction survey.   
        </p>

      </article>

      <article>

        <h4>Fields</h4>

        <ul>
          <li><strong>Utilizes Customer Satisfaction Surveys</strong></li>
          <li>
            <strong>Values:</strong> No,Yes
          </li>
          <li>
            Measurement is performed by detecting what URLs are queried while a page loads and then comparing them against a library of known customer satisfaction tools.  
          </li>
        </ul>

      </article>

    </div>

  </div>

</section>

{% endblock %}
