{% extends "layout.html" %}

{% block page_id %}analytics{% endblock %}
{% block title %}Digital Analytics Program (DAP) - Pulse{% endblock %}
{% block description %}Which federal government domains are participating in the Digital Analytics Program.{% endblock %}

{% block content %}

{% include 'includes/analytics/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="/analytics/domains/" class="tab" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Domain</a>
    <a href="/analytics/agencies/" class="tab" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Agency</a>
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">Guidance</span>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">

    <div class="guide">

      <h3>Below you will find some helpful tips to help guide you towards getting a better score on Pulse for your domain or agency. For any further questions, please visit our <a href="/about/">frequently asked questions</a>.</h3>

      <article>

        <h4>What domains are measured?</h4>

        <p>
          Pulse measures DAP participation for <strong>publicly accessible <code>.gov</code> domains</strong> in the federal government's <strong>executive branch</strong>. Domains which do nothing but redirect to other websites <strong>are not measured</strong>.
        </p>

        <p>
          This currently amounts to around 800 domains.
        </p>

      </article>

      <article>

        <h4>How to participate</h4>

        <p>
          Any publicly accessible federal website in the executive branch can participate in the <a href="https://www.digitalgov.gov/services/dap/">Digital Analytics Program</a> (DAP). The easiest way to get started is to <a href="mailto:dap@gsa.gov">send the DAP team an email</a>.
        </p>

        <p>
          Once an agency has established a relationship with the DAP, the agency will be asked to incorporate the DAP's <a href="https://github.com/digital-analytics-program/gov-wide-code">government-wide JavaScript code</a> into their website(s). For detailed implementation guidance, data and privacy details, and other information, review the <a href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/">Digital Analytics Program FAQ</a>.
        </p>

      </article>

      <article>

        <h4>Fields</h4>

        <ul>
          <li><strong>Participates in DAP?</strong></li>
          <li>
            <strong>Values:</strong> No,Yes
          </li>
          <li>
            Measurement is performed by comparing the set of evaluated <code>.gov</code> domains to the <a href="https://analytics.usa.gov/data/sites.csv">list of participating federal domains and subdomains</a> published by the DAP. This list is created by looking at reported web traffic in the DAP's underlying database.
          </li>
        </ul>

      </article>

    </div>

  </div>

</section>

{% endblock %}
