*.egg-info
/data/output
/data/backup
/data/*.json
/data/*.env
db.json
.env

logs
*.log
/.sass-cache

# virtualenv
.Python
.python-version
bin
include
lib

/deploy/node_modules

# Mac specific
.DS_Store

__pycache__/
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json
.coverage

todo.txt
