<script type="text/javascript">
(function() {
    var chart = d3.select(".https_chart");
    var elem = chart[0][0];

    var width = chart.attr("data-width");
    if (width == null)
        width = getComputedStyle(elem.parentElement).width;
    width = parseInt(width);

    var height = width * 1.2;

    var radius = Math.min(width, height) / 2;

    var color = d3.scale.ordinal()
        .range(["#7ED321", "#FFFFFF"]);

    var arc = d3.svg.arc()
        .outerRadius(radius)
        .innerRadius(radius - 40);

    var pie = d3.layout.pie()
        .value(function (d) {
        return d.value;
    })
        .sort(null);

    chart = chart
        .append('svg')
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")")
        .on("click", function(d,i) {
            location.href = "/https/domains/";
        });

    d3.csv("/static/data/https.csv" + Utils.cacheBust(), function (error, data) {

        var g = chart.selectAll(".arc")
            .data(pie(data))
            .enter().append("g")
            .attr("class", "arc");

        g.append("path")
            .style("fill", function(d) {
            return color(d.data.status);
        })
            .transition().delay(function(d, i) {
            return i *400;
        }).duration(400)
            .attrTween('d', function(d) {
            var i = d3.interpolate(d.startAngle+ 0.1, d.endAngle);
            return function(t) {
                d.endAngle = i(t);
                return arc(d);
            }
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-value")
            .attr("dy", "0.2em")
            .attr("fill", "white")
            .text(function(d){
                return "" + data[0].value + "%";
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-desc")
            .attr("dy", "2.5em")
            .attr("fill", "white")
            .text(function(d) {
                return "USE HTTPS";
        });


    });
})();
</script>
