<header class="chart">

  <div class="description">
    <h2>Accessibility</h2>
    <h3>Last updated <strong>October 6, 2016</strong></h3>
    <p>
       The US Government’s mission is to serve the needs of all its citizens, including the approximately 60 million who live with disabilities. For websites, this means that pages should be built according to certain standards that ensure, for example, that a visually impaired user accessing a government site through a screen reader will be able to navigate and access the same information available to a non-visually-impaired user.
    </p>
    <p>
      While full conformance with the government’s accessibility guidelines requires an expert evaluation, there are a number of automated tools that can help web designers identify some common accessibility issues. To demonstrate our commitment to improving accessibility for all, we’ve scanned the federal .gov domain for these common accessibility errors, and will be posting monthly updates to show our progress over time to correct these errors.
    </p>

    <p>
      IMPORTANT: These error reports do NOT constitute a complete evaluation of compliance with accessibility requirements, but rather the results of certain <strong>automated</strong> scans. A website with many errors may pass an accessibility evaluation, while a website with no errors may actually not be accessible. Only a professional evaluator can make this determination. This information is presented as a guide to help web managers understand accessibility issues and help correct errors that could make a site inaccessible.
    </p>
  </div>

</header>
