<header class="chart">

  <div class="donut">
    <div class="https_chart"></div>
    {% include 'includes/https/donut.html' %}
  </div>

  <div class="description">
    <h1>Accessibility</h1>
    <h2>Last updated <strong>{{ site.data.scan | date("%B %d, %Y") }}</strong></h2>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus libero faucibus urna tincidunt egestas. Phasellus elementum vehicula ullamcorper. Duis luctus massa sit amet leo ullamcorper efficitur. Praesent a commodo orci. Vivamus in congue diam. Nunc posuere fermentum purus eget fermentum. Praesent dignissim lectus nisi, nec semper purus congue id. Proin eu nunc lectus. Fusce vel diam tortor. Nam felis metus, hendrerit sed mattis ac, malesuada at nibh. Integer a sagittis magna, sed tincidunt nulla.
    </p>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus libero faucibus urna tincidunt egestas. Phasellus elementum vehicula ullamcorper. Duis luctus massa sit amet leo ullamcorper efficitur. Praesent a commodo orci. Vivamus in congue diam. Nunc posuere fermentum purus eget fermentum. 
    </p>

    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus libero faucibus urna tincidunt egestas.
    </p>
  </div>

</header>
