<header class="chart">

  <div class="donut">
    <div class="https_chart"></div>
    {% include 'includes/https/donut.html' %}
  </div>

  <div class="description">
    <h1>Accessibility</h1>
    <h2>Last updated <strong>{{ scan_date | date("%B %d, %Y") }}</strong></h2>
    <p>
       The US Government’s mission is to serve the needs of all its citizens, including the approximately 60 million who live with disabilities. For websites, this means that pages should be built according to certain standards that ensure, for example, that a visually impaired user accessing a government site through a screen reader will be able to navigate and access the same information available to a non-visually-impaired user.


    </p>
    <p>
      Full conformance with the government’s accessibility guidelines requires an expert evaluation. There are a number of automated tools that can help web designers identify errors that might present an issue for users with disabilities. We’ve scanned the .gov domain for accessibility errors, and will be posting weekly updates to show how many of the errors have been fixed over time.
    </p>

    <p>
IMPORTANT: These error reports do NOT constitute an evaluation of compliance with accessibility requirements. A website with many errors may pass an accessibility evaluation, while a website with no errors may actually not be accessible. Only a professional evaluator can make this determination. This information is presented as a guide to help web managers understand accessibility issues and help correct errors that could make a site inaccessible.
    </p>
    <p>
       <strong>This page is a proof of concept.  The data represented here is dummy data and is for placeholding value only.</strong>
    </p>
  </div>

</header>
