// DAP
/////////////////////////////////////////

#analytics {

  #content {
    > header .donut .total-value {
      font-size: 3.5em;
    }
  }

  .dataTables_wrapper table.dataTable td:first-child {
      padding: 8px 0 8px 20px !important;

      @include media($medium) {
        padding-left: 40px !important;
      }
  }
}
