@charset "UTF-8";

// Imports
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

// Colors
$dark-purple:       #330060;
$medium-purple:     #450081;
$light-purple:      #AB67E8;

// Custom font sizing
h1 { font-size:   2.25em;   }
h2 { font-size:   1.5em;    }
h3 { font-size:   1.125em;  }
h4 { font-size:   1.125em;  }

// Generic
body {
  background-color: $medium-purple;
}


.construction {
  color: white;
  margin: 50px 0;
  font-size: 50px;
}

.button {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  &:hover {
    background-color: white;
  }
}

// _includes/header.html
.site-header {
  .disclaimer {
    background-color: white;
    padding: 10px 0;
    text-align: center;
  }

  .us-official {
    background-color: $dark-purple;
    padding: 10px 0;
    text-align: center;
    color: white;
  }

  > nav {
    border-bottom: 1px solid white;

    #main-nav {
      @include outer-container;
      padding: 10px 0;
      a { color: white; }
      h1#branding {
        @include span-columns(8);
        font-size: 1.875em;
        font-weight: 300;
      }
      ul {
        @include span-columns(4);
        margin-top: 6px;
        li {
          display: inline;
          a {
            padding: 17px 24px;
            &:hover {
              color: $medium-purple;
              background-color: white;
            }
          }
        }
      }
    }
  }
}

// pages/index.html
#home {
  .hero {
    @include span-columns(8);
    @include shift(2);

    text-align: center;
    color: white;
    padding-top: 40px;

    h2 {
      font-size: $base-font-size * 7;
      font-weight: 300;
    }
    h3 {
      font-size: $base-font-size * 2;
      font-weight: 100;
      padding-top: 15px;
    }
  }

  #results {
    @include span-columns(8);
    @include shift(2);

    padding: 40px 0;

    .https, .dap {
      @include span-columns(4 of 8);

      margin-bottom: 40px;
      text-align: center;

      .total-value {
        font-size: 5em;
      }
    }
  }
}

// /analytics and /https
#analytics, #https {

  #content {

    header {
      @include outer-container;

      color: white;

      .donut {
        @include span-columns(3);

        .total-value {
          font-size: 3em;
        }

        .total-desc {
          font-size: 0.8em;
        }
      }

      .description {
        @include span-columns(8);

        padding-top: 30px;
        padding-bottom: 40px;

        h1 {}
        p {
          margin-top: 12px;
          line-height: 28px;
        }
      }
    }

    .data {
      padding: 40px 20px;
      background-color: white;

      select {
        display: inline-block;
        background-color: $medium-purple;
        color: white;
        border: 0px;
        padding: 5px 0px 5px 5px;
        font-weight: bold;
      }
    }

  }
}
