@charset "UTF-8";

@import "bourbon/bourbon";
@import "neat/neat";

// Reset
h1, h2, h3, h4, h5, h6,
ul, li,
p {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

// Colors
$background-dark:     #450081;
$text-dark:           #000000;
$link:                #ffffff;

// Font sizes
$small:       12px;
$name:        24px;
$nav:         20px;
$giant-name:  80px;
$giant-desc:  36px;

body {
  background-color: $background-dark;
  color: white;

  font-family: "Lato", Helvetica, sans-serif;

  a {
    color: $link;
    text-decoration: none;
  }
}

header {
  &.site-header {
    font-size: $small;
    text-align: center;
    color: $text-dark;
    background: white;
    p {
      padding: 10px 0;
    }
    .us-official {
      background-color: #330060;
      color: white;

    }
  }
}

body > nav {
  @include outer-container;
  padding: 10px 0;

  h1 {
    @include span-columns(9);

    margin-top: 7px;
    padding-left: 20px;
  }

  ul {
    @include span-columns(3);
    @include outer-container;

    padding-left: 0;

    li {
      @include span-columns(4);
      margin-top: 17px;
    }
  }
}

hr.white {
  height: 1px;
  background-color: white;
}

.content {

  .construction {
    margin: 50px 0;
    font-size: 50px;
  }

  .home {
    @include shift(2);

    h1 {
      @include span-columns(8);
      text-align: center;
      font-size: $giant-name;
      margin-bottom: 10px;
    }

    h2 {
      @include span-columns(8);
      text-align: center;
      font-size: $giant-desc;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    ul.results {
      @include span-columns(8);
      @include outer-container;

      margin-top: 40px;
      margin-bottom: 40px;

      li {
        @include span-columns(6);
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid white;
      }
    }
  }


  // /analytics and /https
  .metric {

    header {
      @include outer-container;

      .donut {
        @include span-columns(3);
      }

      .description {
        @include span-columns(8);

        padding-top: 30px;
        padding-bottom: 40px;

        h1 {}
        p {
          margin-top: 12px;
          line-height: 28px;
        }
      }
    }

    .data {
      padding: 40px 20px;
      background-color: white;
      color: $text-dark;

      select {
        background-color: $background-dark;
        color: white;
        border: 0px;
        padding: 5px 0px 5px 5px;
        font-weight: bold;
      }
    }

  }
}