@charset "UTF-8";

// Imports
/////////////////////////////////////////

@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

// Breakpoints
/////////////////////////////////////////

$small:       new-breakpoint(max-width 480px, 12);
$medium:      new-breakpoint(max-width 767px, 12);
$large:       new-breakpoint(max-width 1024px, 12);
$xlarge:      new-breakpoint(max-width 1200px, 12);

// Colors
/////////////////////////////////////////

$dark-blue:       darken(#0066CC, 20%);
$medium-blue:     darken(#0066CC, 5%);
$light-blue:      #0066CC;

// Custom font sizing
/////////////////////////////////////////

h1 { font-size:   2.25em;   }
h2 { font-size:   1.5em;    }
h3 { font-size:   1.25em;   }
p  { font-size:   1.0em;    }

// Generic
/////////////////////////////////////////

body {
  background-color: $medium-blue;
}

a {
  color: white;
  font-weight: 900;
  &:hover, &:focus {
    color: white;
    text-decoration: underline;
  }
}

footer {
  padding: 15px 20px;
  color: white;
  text-align: center;
  border-top: 1px solid $dark-blue;
}

.button {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  &:hover, &:focus {
    background-color: white;
    color: $medium-blue;
    text-decoration: none;
  }
}


.wrapper {
  @include outer-container;
}

a#skipnav {
    padding: 10px 15px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: $medium-blue;
    background: transparent;
    @include transition(top 1s ease-out, background 1s linear);
    z-index: 100;
    &:focus {
      position: absolute;
      left: 0px;
      top: 0px;
      background: white;
      outline: 0;
      @include transition(top .1s ease-in, background .5s linear);
    }
}

// _includes/header.html
/////////////////////////////////////////

.site-header {

  .disclaimer {
    background-color: $dark-blue;
    padding: 10px 40px;
    color: white;
    text-align: center;
    @include media($small) {
      padding: 10px 20px;
      font-size: 0.8em;
    }
    .us-official {
      margin-left: 177px;
      @include media($large) {
        margin: 0;
      }
    }
    .stage {
      float: right;
      @include media($large) {
        float: none;
        display: block;
      }
    }
  }

  > nav {
    border-bottom: 1px solid $dark-blue;

    #main-nav {
      @include outer-container;
      padding: 10px 0;
      @include media($large) {
        padding: 10px 20px;
      }

      a { color: white; }

      h1#branding {
        @include span-columns(5);
        font-size: 1.875em;
        font-weight: 300;
        @include media($medium) {
          @include span-columns(9);
        }
      }

      ul {
        margin-top: 6px;
        float: right;
        @include media($medium) {
          display: none;
        }
        li {
          display: inline;

          a {
            padding: 17px 24px;
            &:hover {
              color: $medium-blue;
              background-color: white;
            }
          }
        }
      }
    }
  }

  #menu-btn {
    display: none;
    @include media($medium) {
      display: inline;
      text-align: right;
      margin-top: 6px;
      @include span-columns(3);
    }
  }

  #menu-content{
    $sliding-panel-width: 220px;

    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    @include transition(all 0.25s linear);
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;
    a { color: #4A4A4A; }
    ul {
      padding: 14px;
      font-weight: 300;
      line-height: 1.8em;
    }
    &.is-visible {
      @include transform(translateX(0));
    }
  }

  .overlay {
    @include position(fixed, 0 0 0 0);
    @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.is-visible {
      visibility: visible;
    }
  }

  // Based on code by Diego Eis
}

// pages/index.html
/////////////////////////////////////////

#home {
  .hero {
    @include span-columns(8);
    @include shift(2);

    text-align: center;
    color: white;
    padding-top: 40px;

    h2 {
      font-size: $base-font-size * 7;
      font-weight: 300;
    }
    h3 {
      font-size: $base-font-size * 2;
      font-weight: 100;
      padding-top: 15px;
    }
  }

  #results {
    @include span-columns(8);
    @include shift(2);

    padding: 40px 0;

    .https, .dap {
      @include span-columns(4 of 8);
      @media (max-width: 970px) {
        width: 100%
      }

      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);

      margin-bottom: 40px;
      text-align: center;

      .total-value {
        font-size: 5em;
      }

    }
  }
}

// Generic layout for:
// pages/analytics/*
// pages/https/*
// pages/about.html
// pages/domains.html
/////////////////////////////////////////

#analytics, #https, #about, #domains {

  #content {

    > header {
      @include outer-container;
      color: white;
      padding: 30px 0;
      p {
        margin-top: 12px;
      }

      a {
        font-weight: bold;
        color: white;
      }

      .donut {
        @include span-columns(3);
        @include media($medium) {
          display: none;
        }
        .total-value {
          font-size: 3em;
        }

        .total-desc {
          font-size: 0.8em;
        }
      }

      &.chart {
        padding: 0;
        .description {
          @include span-columns(8);
          padding-top: 30px;
          @include media($medium) {
            @include span-columns(12);
            padding: 40px 20px 20px 20px;
          }
        }
      }
    }

    #main-content {
      .tab-menu {
        width: 100%;
        margin-top: 40px;
        .tab {
          width: 33.33%;
          margin: 0;
          float: left;
          text-align: center;
          padding: 30px 0;
          font-size: 1.5em;
        }
        a.tab {
          background-color: $medium-blue;
          color: white;
          &:hover, &:focus {
            background-color: lighten($medium-blue, 10%);
            color: white;
          }
        }
      }

      &.white-bkg {
        background-color: white;
        a {
          color: $light-blue;
          font-weight: 900;
          &:hover, &:focus {
            color: $light-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.https_chart, .dap_chart {
  cursor: pointer;
  padding-top: 15px;
}

// pages/analytics/*
/////////////////////////////////////////
#analytics {

  #content {
    > header .donut .total-value {
      font-size: 3.5em;
    }
  }

  .dataTables_wrapper table.dataTable td:first-child {
      padding: 8px 0 8px 20px !important;
      @include media($medium) {
        padding-left: 40px !important;
      }
  }

}

// pages/about.html
/////////////////////////////////////////
#about {

  #content header {
    padding: 40px;
  }
  .faq-questions { padding: 20px 0; }
  .faq-answers {
    padding: 0 40px;
    h3 {
      font-style: italic;
      margin-bottom: 15px;
    }
    li { padding-bottom: 40px; }

    p {
      padding-bottom: 15px;
    }
  }
}

// pages/domains.html
/////////////////////////////////////////
#domains {

  #content header h2 {
    margin-top: 10px;
  }

  #main-content ul {
    color: $light-blue;
    padding: 10px 0;

    li {
      margin: 30px 0;
      padding: 25px 15px;
      border: 1px solid #eee;

      h2 {
        font-size: 1.7em;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .coverage {
        width: 300px;
        padding: 0;
        margin-right: 35px;
        display: inline-block;

        li {
          margin: 0;
          padding: 5px 0;
          font-size: 1.2em;
          text-align: right;
          border: none;

          .label {
            padding-right: 10px;
            font-weight: bold;
          }
        }
      }

      .details {
        width: 570px;
        color: #535353;
        font-size: 1.2em;
        margin-top: 5px;
        vertical-align: top;
        display: inline-block;
      }
    }
  }
}


// pages/**/guides.html
/////////////////////////////////////////
.guide {
  clear: both;
  padding: 60px 0 40px;
  @include media($medium) {
    padding: 40px 20px;
  }
  h2 { margin-bottom: 60px; }
  article {
    padding-bottom: 25px;
    h3, h4 { margin-bottom: 12px; }
    ul, p {
      padding-bottom: 20px;
      li {
        padding-bottom: 15px;
      }
    }
  }
}

// pages/404.html
/////////////////////////////////////////
#pagenotfound {
  #main-content {
    padding: 40px;
    text-align: center;
    color: white;
    margin: 0 auto;
    h2 {
      font-size: 10em;
      margin-bottom: 8px;
    }
    p {
      font-size: 2em;
    }
  }
}

// dataTables
/////////////////////////////////////////

.dataTables_wrapper {
  padding: 80px 0 40px;

  .dataTables_length {
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 10px;
    padding-left: 10px;

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    a.active, a.active:hover {
      text-decoration: none;
      color: black !important;
    }

    select {
      border: none;
      display: inline-block;
      color: white;
      width: 60px;
      border-radius: 0px;
      padding: 0 8px;
      margin: 0 5px;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: url("/assets/images/arrow-down.png") 73% / 15% no-repeat $medium-blue;
      &::-ms-expand {
        display: none;
      }
    }
  }

  .dataTables_csv {
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 20px;
    float: left;

    a {
      text-decoration: underline;
    }

    @media (max-width: 640px) {
      float: none;
      text-align: center;
    }
  }

  .dataTables_filter {
    font-size: 1.1em;
    label { float: right; }

    input {
      display: inline-block;
      width: auto;
      border: 1px solid #CCC;
      border-radius: 0;
      height: 40px;
      width: 400px;
      box-shadow: none;
      font-size: 1.1em;
      font-weight: 200;
    }

    @include media($small) {
      label {
        float: none;
      }

      input {
        width: 200px;
        margin-left: 10px;
      }
    }
  }

  table.dataTable {
    padding: 20px 0;

    a {
      text-decoration: underline;
    }

    th, td {
      border-bottom: 2px solid #EEE !important;
      padding: 8px 0 8px 40px;
    }

    td:first {
      padding: 8px 0 8px 30px !important;
    }

    thead {
      .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
        background-position: 20px center;
      }
    }

    &.no-footer {
      border: none;
    }

    &.domain {

      td.odd:first-child,
      td.even:first-child {
        white-space: nowrap;
      }
    }

    &.dtr-inline.collapsed {
      td:first-child:before {
        top: 9px;
        background-color: lighten($light-blue, 20%);
      }
    }

    > tbody {
      > tr.child {
        ul li {
          border-bottom: none;
          padding: 0 0 3px 0;
        }
        span.dtr-title {
          min-width: 50px;
        }
      }
    }

    &.https.domain {
      tbody {
        tr {
          &.parent {
            td { border-bottom: none !important; }
          }
          &:hover {
            background-color: #EEE;
            cursor: pointer;
            +.child {
              background-color: #EEE;
            }
          }
        }
      }
    }

    &.agency {

      td {
        padding: 15px 0 15px 40px !important;

        @include media($large) {
          padding-left: 32px !important;
          &:first-child:before { top: 30px !important; }
        }
        @include media ($medium) {
          &:first-child:before { top: 15px !important; }
        }
      }

      .progress-bar-indication {
        background-color: #CCC;
        border-radius: 20px;
        width: 70%;

        > .meter {
          @include box-sizing(border-box);
          background-color: $light-blue;
          background-repeat: repeat-x;
          background-size: 40px 40px;
          border-radius: 20px 0 0 20px;
          margin: 15px 0;
          display: block;
          height: 100%;
          width: 60%;
          &.width100 {
            border-radius: 20px;
          }
          @for $i from 1 through 3 {
            &.width#{$i} { background-color: transparent }
          }
        }

        p {
          font-weight: 900;
          font-size: 0.875em;
          position: relative;
          top: -18px;
        }
      }
    }
  }
  .dataTables_info {
    padding-top: 0 !important;
  }
  .dataTables_paginate {
    a.paginate_button {
      padding: 0 8px !important;
      font-size: 0.875em;
      border: none !important;
      &.current {
        background: $medium-blue !important;
        color: white !important;
        &:hover {
          color: white !important;
        }
      }
      &:hover, &:focus {
        background: $medium-blue !important;
        color: white !important;
      }
      &.disabled {
        &:hover, &:focus {
          background: transparent !important;
        }
      }
    }
  }
}



