<script type="text/javascript" >
(function() {
    var chart = d3.select(".dap_chart");
    var elem = chart[0][0];

    var width = chart.attr("data-width");
    if (width == null)
        width = getComputedStyle(elem.parentElement).width;
    width = parseInt(width);

    var height = width * 1.2;

    var radius = Math.min(width, height) / 2;

    var color = d3.scale.ordinal()
        .range(["#7ED321", "#FFFFFF"]);

    var arc = d3.svg.arc()
        .outerRadius(radius)
        .innerRadius(radius - 40);

    var pie = d3.layout.pie()
        .value(function (d) {
        return d.value;
    })
        .sort(null);

    chart = chart
        .append('svg')
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")")
        .on("click", function(d,i) {
            location.href = "/analytics/domains/";
        });

    d3.json("/data/reports/customer-satisfaction.json", function (error, data) {

        // calculate % client-side
        var participating = Math.round((data.participating / data.eligible) * 100);

        // just abort and leave it blank if something's wrong
        // (instead of showing "NaN%" visually)
        if (isNaN(participating))
            return;

        var pie_data = [
            {status: 'active', value: participating},
            {status: 'inactive', value: (100-participating)}
        ]

        var g = chart.selectAll(".arc")
            .data(pie(pie_data))
            .enter().append("g")
            .attr("class", "arc");

        g.append("path")
            .style("fill", function (d) {
            return color(d.data.status);
        })
            .transition().delay(function (d, i) {
            return i * 400;
        }).duration(400)
            .attrTween('d', function (d) {
            var i = d3.interpolate(d.startAngle + 0.1, d.endAngle);
            return function (t) {
                d.endAngle = i(t);
                return arc(d);
            }
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-value")
            .attr("fill", "white")
            .text(function (d) {
                return "" + pie_data[0].value + "%";
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-desc")
            .attr("fill", "white")
            .attr("dy", "1.9em")
            .text(function (d) {
            return "USE ONLINE";
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-desc")
            .attr("fill", "white")
            .attr("dy", "3em")
            .text(function (d) {
            return "SATISFACTION";
        });

        g.append("text")
            .attr("text-anchor", "middle")
            .attr("class", "total-desc")
            .attr("fill", "white")
            .attr("dy", "4em")
            .text(function (d) {
            return "SURVEYS";
        });
    });
})();
</script>
