<header class="chart">

  <div class="donut">
    <div class="dap_chart"></div>
    {% include 'includes/customer-satisfaction/donut.html' %}
  </div>

  <div class="description">
    <h2>Customer Satisfaction Surveys</h2>
    <h3>Last updated <strong>{{ scan_date | date("%B %d, %Y") }}</strong></h3>
    <p>
      The <a href="https://cio.gov/worldclassdigitalservices/digital-strategy/">Digital Government Strategy</a> directs executive branch agencies to implement customer satisfaction survey tools on all .gov websites. This section scans for commonly used tools in order to track implementation of this requirement.  
    </p>

    <p>
      Use of customer satisfaction surveys was last measured on <strong>{{ scan_date | date("%B %d, %Y") }}</strong>.
    </p>
  </div>

</header>
