<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="xXEGpPeG9CfACp-aeM0kS8pSS9Vk7Z8OS0QB_EehREs" />

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- Twitter Specific Metas
================================================== -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@USGSA" />
<meta name="twitter:creator" content="@USGSA" />
<meta name="twitter:image" content="{{ site.url }}/static/images/logo-pulse.png" />
<meta name="twitter:image:alt" content="Pulse" />

<!-- Favicons
================================================== -->
<!-- 128x128 -->
<link rel="shortcut icon" type="image/ico" href="/static/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="/static/images/favicons/favicon.png" />

<!-- 192x192, as recommended for Android
https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
-->
<link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/pulse-192.png" />

<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="/static/images/favicons/pulse-57.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicons/pulse-72.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicons/pulse-114.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicons/pulse-144.png">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/normalize.min.css">
<link rel="stylesheet" href="/static/css/google-fonts.css">

<link rel="stylesheet" href="/static/css/main.css?{{ now() | date("%Y%m%j%H%M%S") }}">

<!-- Scripts
================================================== -->
<script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="/static/js/vendor/jquery-3.2.1.min.js"></script>

<script src="/static/js/vendor/d3.min.js"></script>
<script src="/static/js/vendor/querystring.js"></script>
<script src="/static/js/utils.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


<!-- sigh, datatables -->

<link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.12/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/Responsive-2.1.0/css/responsive.dataTables.min.css"/>

<script type="text/javascript" src="/static/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/Responsive-2.1.0/js/dataTables.responsive.min.js"></script>

<script src="/static/js/dataTables.downloads.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
