<header class="site-header">
    <div class="disclaimer">
        <span class="us-official">
        An official website of the United States Government.
        <img
        alt="US flag signifying that this is a United States Federal Government website"
        src="/static/images/us_flag_small.png">
        </span>
        <span class="stage">This site is currently in <a href="https://18f.gsa.gov/dashboard/stages/#beta">beta</a>.</span>
    </div>
    <nav>
        <div id="main-nav">
            <h1 id="branding">
                <a href="/">{{ site.name }}</a>
            </h1>
            <ul id="right-nav">
                <li>
                    <a href="/https/domains/">HTTPS</a>
                </li>
                <li>
                    <a href="/analytics/domains/">Analytics</a>
                </li>
                <li>
                    <a href="/accessibility/domains/">Accessibility</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="https://github.com/18f/pulse/issues">Feedback</a>
                </li>
            </ul>
            <a href="#" id="menu-btn">MENU</a>
        </div>
        
    </nav>

    <nav id="menu-content">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/https/domains/">HTTPS</a>
        </li>
        <li>
            <a href="/analytics/domains/">Analytics</a>
        </li>
        <li>
            <a href="/about/">About</a>
        </li>
        <li>
            <a href="https://github.com/18f/pulse/issues">Feedback</a>
        </li>
    </ul>
    </nav>

    <div class="overlay"></div>

</header>

