* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #962EF2;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #6f0cc7;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 0.875em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 0.875em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #962EF2;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(138, 22, 241, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #4A4A4A;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 0.875em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica, sans-serif;
  line-height: 1.2;
  margin: 0; }

p {
  margin: 0; }

a {
  color: #962EF2;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #6f0cc7; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

p {
  font-size: 1.0em; }

body {
  background-color: #0059b3; }

a {
  color: white;
  font-weight: 900; }
  a:hover, a:focus {
    color: white;
    text-decoration: underline; }

.button {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  color: white; }
  .button:hover, .button:focus {
    background-color: white;
    color: #0059b3;
    text-decoration: none; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.site-header .disclaimer {
  background-color: #003366;
  padding: 10px 40px;
  color: white;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .site-header .disclaimer {
      padding: 10px 20px;
      font-size: 0.8em; } }
  .site-header .disclaimer .us-official {
    margin-left: 177px; }
    @media screen and (max-width: 1024px) {
      .site-header .disclaimer .us-official {
        margin: 0; } }
  .site-header .disclaimer .alpha {
    float: right; }
    @media screen and (max-width: 1024px) {
      .site-header .disclaimer .alpha {
        float: none;
        display: block; } }
.site-header > nav {
  border-bottom: 1px solid #003366; }
  .site-header > nav #main-nav {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0; }
    .site-header > nav #main-nav:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 1024px) {
      .site-header > nav #main-nav {
        padding: 10px 20px; } }
    .site-header > nav #main-nav a {
      color: white; }
    .site-header > nav #main-nav h1#branding {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      font-size: 1.875em;
      font-weight: 300; }
      .site-header > nav #main-nav h1#branding:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .site-header > nav #main-nav h1#branding {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 74.41059%; }
          .site-header > nav #main-nav h1#branding:last-child {
            margin-right: 0; } }
    .site-header > nav #main-nav ul {
      margin-top: 6px;
      float: right; }
      @media screen and (max-width: 767px) {
        .site-header > nav #main-nav ul {
          display: none; } }
      .site-header > nav #main-nav ul li {
        display: inline; }
        .site-header > nav #main-nav ul li a {
          padding: 17px 24px; }
          .site-header > nav #main-nav ul li a:hover {
            color: #0059b3;
            background-color: white; }
.site-header #menu-btn {
  display: none; }
  @media screen and (max-width: 767px) {
    .site-header #menu-btn {
      display: inline;
      text-align: right;
      margin-top: 6px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .site-header #menu-btn:last-child {
        margin-right: 0; } }
.site-header #menu-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999; }
  .site-header #menu-content a {
    color: #4A4A4A; }
  .site-header #menu-content ul {
    padding: 14px;
    font-weight: 300;
    line-height: 1.8em; }
  .site-header #menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
.site-header .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .site-header .overlay.is-visible {
    visibility: visible; }

#home .hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  text-align: center;
  color: white;
  padding-top: 40px; }
  #home .hero:last-child {
    margin-right: 0; }
  #home .hero h2 {
    font-size: 6.125em;
    font-weight: 300; }
  #home .hero h3 {
    font-size: 1.75em;
    font-weight: 100;
    padding-top: 15px; }
#home #results {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  padding: 40px 0; }
  #home #results:last-child {
    margin-right: 0; }
  #home #results .https, #home #results .dap {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    margin-bottom: 40px;
    text-align: center; }
    #home #results .https:last-child, #home #results .dap:last-child {
      margin-right: 0; }
    @media (max-width: 970px) {
      #home #results .https, #home #results .dap {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        #home #results .https:last-child, #home #results .dap:last-child {
          margin-right: 0; } }
    #home #results .https .total-value, #home #results .dap .total-value {
      font-size: 5em; }
    @media screen and (max-width: 1024px) {
      #home #results .https .button, #home #results .dap .button {
        margin-left: 25px; } }

#analytics #content > header, #https #content > header, #about #content > header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 30px 0; }
  #analytics #content > header:after, #https #content > header:after, #about #content > header:after {
    content: "";
    display: table;
    clear: both; }
  #analytics #content > header p, #https #content > header p, #about #content > header p {
    margin-top: 12px; }
  #analytics #content > header a, #https #content > header a, #about #content > header a {
    font-weight: bold;
    color: white; }
  #analytics #content > header .donut, #https #content > header .donut, #about #content > header .donut {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #analytics #content > header .donut:last-child, #https #content > header .donut:last-child, #about #content > header .donut:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      #analytics #content > header .donut, #https #content > header .donut, #about #content > header .donut {
        display: none; } }
    #analytics #content > header .donut .total-value, #https #content > header .donut .total-value, #about #content > header .donut .total-value {
      font-size: 3em; }
    #analytics #content > header .donut .total-desc, #https #content > header .donut .total-desc, #about #content > header .donut .total-desc {
      font-size: 0.8em; }
  #analytics #content > header.chart, #https #content > header.chart, #about #content > header.chart {
    padding: 0; }
    #analytics #content > header.chart .description, #https #content > header.chart .description, #about #content > header.chart .description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      padding-top: 60px; }
      #analytics #content > header.chart .description:last-child, #https #content > header.chart .description:last-child, #about #content > header.chart .description:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        #analytics #content > header.chart .description, #https #content > header.chart .description, #about #content > header.chart .description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          padding: 40px 20px 20px 20px; }
          #analytics #content > header.chart .description:last-child, #https #content > header.chart .description:last-child, #about #content > header.chart .description:last-child {
            margin-right: 0; } }
#analytics #content #main-content .tab-menu, #https #content #main-content .tab-menu, #about #content #main-content .tab-menu {
  width: 100%;
  margin-top: 40px; }
  #analytics #content #main-content .tab-menu .tab, #https #content #main-content .tab-menu .tab, #about #content #main-content .tab-menu .tab {
    width: 33.33%;
    margin: 0;
    float: left;
    text-align: center;
    padding: 30px 0;
    font-size: 1.5em; }
  #analytics #content #main-content .tab-menu a.tab, #https #content #main-content .tab-menu a.tab, #about #content #main-content .tab-menu a.tab {
    background-color: #0059b3;
    color: white; }
    #analytics #content #main-content .tab-menu a.tab:hover, #analytics #content #main-content .tab-menu a.tab:focus, #https #content #main-content .tab-menu a.tab:hover, #https #content #main-content .tab-menu a.tab:focus, #about #content #main-content .tab-menu a.tab:hover, #about #content #main-content .tab-menu a.tab:focus {
      background-color: #0073e6;
      color: white; }
#analytics #content #main-content.white-bkg, #https #content #main-content.white-bkg, #about #content #main-content.white-bkg {
  background-color: white; }
  #analytics #content #main-content.white-bkg a, #https #content #main-content.white-bkg a, #about #content #main-content.white-bkg a {
    color: #0066CC;
    font-weight: 900; }
    #analytics #content #main-content.white-bkg a:hover, #analytics #content #main-content.white-bkg a:focus, #https #content #main-content.white-bkg a:hover, #https #content #main-content.white-bkg a:focus, #about #content #main-content.white-bkg a:hover, #about #content #main-content.white-bkg a:focus {
      color: #0066CC;
      text-decoration: underline; }

.https_chart, .dap_chart {
  cursor: pointer; }

#analytics #content > header .donut .total-value {
  font-size: 3.5em; }
#analytics .dataTables_wrapper table.dataTable td:first-child {
  padding: 8px 0 8px 20px !important; }
  @media screen and (max-width: 767px) {
    #analytics .dataTables_wrapper table.dataTable td:first-child {
      padding-left: 40px !important; } }

#about #content header {
  padding: 40px; }
#about .faq-questions {
  padding: 20px 0; }
#about .faq-answers {
  padding: 0 40px; }
  #about .faq-answers h3 {
    font-style: italic;
    margin-bottom: 15px; }
  #about .faq-answers li {
    padding-bottom: 40px; }
  #about .faq-answers p {
    padding-bottom: 15px; }

.guide {
  clear: both;
  padding: 60px 0 40px; }
  @media screen and (max-width: 767px) {
    .guide {
      padding: 40px 20px; } }
  .guide h2 {
    margin-bottom: 60px; }
  .guide article {
    padding-bottom: 25px; }
    .guide article h3, .guide article h4 {
      margin-bottom: 12px; }
    .guide article ul, .guide article p {
      padding-bottom: 20px; }
      .guide article ul li, .guide article p li {
        padding-bottom: 15px; }

.dataTables_wrapper {
  padding: 80px 0 40px; }
  .dataTables_wrapper .dataTables_length {
    font-size: 1.1em;
    font-weight: 200; }
    .dataTables_wrapper .dataTables_length select {
      border: none;
      display: inline-block;
      color: white;
      width: 60px;
      border-radius: 0px;
      padding: 0 8px;
      margin: 0 5px;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: url("/assets/images/arrow-down.png") 73%/15% no-repeat #0059b3; }
      .dataTables_wrapper .dataTables_length select::-ms-expand {
        display: none; }
  .dataTables_wrapper .dataTables_filter {
    font-size: 1.1em; }
    .dataTables_wrapper .dataTables_filter label {
      float: right; }
    .dataTables_wrapper .dataTables_filter input {
      display: inline-block;
      width: auto;
      border: 1px solid #CCC;
      border-radius: 0;
      height: 40px;
      width: 400px;
      box-shadow: none;
      font-size: 1.1em;
      font-weight: 200; }
    @media screen and (max-width: 480px) {
      .dataTables_wrapper .dataTables_filter label {
        float: none; }
      .dataTables_wrapper .dataTables_filter input {
        width: 200px;
        margin-left: 10px; } }
  .dataTables_wrapper table.dataTable {
    padding: 20px 0;
    /* Domain column, to accommodate for More button. */ }
    .dataTables_wrapper table.dataTable a {
      text-decoration: underline; }
    .dataTables_wrapper table.dataTable th, .dataTables_wrapper table.dataTable td {
      border-bottom: 2px solid #EEE !important;
      padding: 8px 0 8px 20px !important; }
    .dataTables_wrapper table.dataTable td:first-child {
      padding-left: 40px !important; }
    .dataTables_wrapper table.dataTable thead .sorting, .dataTables_wrapper table.dataTable thead .sorting_asc, .dataTables_wrapper table.dataTable thead .sorting_desc, .dataTables_wrapper table.dataTable thead .sorting_asc_disabled, .dataTables_wrapper table.dataTable thead .sorting_desc_disabled {
      background-position: center left; }
    .dataTables_wrapper table.dataTable.no-footer {
      border: none; }
    .dataTables_wrapper table.dataTable.domain td.odd:first-child,
    .dataTables_wrapper table.dataTable.domain td.even:first-child {
      white-space: nowrap; }
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed td:first-child:before {
      top: 9px;
      background-color: #3399ff; }
    .dataTables_wrapper table.dataTable > tbody > tr.parent > th:first-child:before {
      background-color: #CCC; }
    .dataTables_wrapper table.dataTable > tbody > tr.parent td {
      border-bottom: none !important; }
    .dataTables_wrapper table.dataTable > tbody > tr.child ul li {
      border-bottom: none;
      padding: 0 0 3px 0; }
    .dataTables_wrapper table.dataTable > tbody > tr.child span.dtr-title {
      min-width: 50px; }
    .dataTables_wrapper table.dataTable.agency td {
      padding: 15px 0 !important; }
      @media screen and (max-width: 1024px) {
        .dataTables_wrapper table.dataTable.agency td {
          padding-left: 32px !important; }
          .dataTables_wrapper table.dataTable.agency td:first-child:before {
            top: 30px !important; } }
      @media screen and (max-width: 767px) {
        .dataTables_wrapper table.dataTable.agency td:first-child:before {
          top: 15px !important; } }
    .dataTables_wrapper table.dataTable.agency .progress-bar-indication {
      background-color: #CCC;
      border-radius: 20px;
      width: 70%; }
      .dataTables_wrapper table.dataTable.agency .progress-bar-indication > .meter {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #0066CC;
        background-repeat: repeat-x;
        background-size: 40px 40px;
        border-radius: 20px 0 0 20px;
        margin: 15px 0;
        display: block;
        height: 100%;
        width: 60%; }
        .dataTables_wrapper table.dataTable.agency .progress-bar-indication > .meter.width100 {
          border-radius: 20px; }
        .dataTables_wrapper table.dataTable.agency .progress-bar-indication > .meter.width1 {
          background-color: transparent; }
        .dataTables_wrapper table.dataTable.agency .progress-bar-indication > .meter.width2 {
          background-color: transparent; }
        .dataTables_wrapper table.dataTable.agency .progress-bar-indication > .meter.width3 {
          background-color: transparent; }
      .dataTables_wrapper table.dataTable.agency .progress-bar-indication p {
        font-weight: 900;
        font-size: 0.875em;
        position: relative;
        top: -18px; }
  .dataTables_wrapper .dataTables_info {
    padding-top: 0 !important; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button {
    padding: 0 8px !important;
    font-size: 0.875em;
    border: none !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
      background: #0059b3 !important;
      color: white !important; }
      .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
        color: white !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button:focus {
      background: #0059b3 !important;
      color: white !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:focus {
      background: transparent !important; }

/*# sourceMappingURL=main.css.map */
