// About
/////////////////////////////////////////

#about {

  #content header {
    padding: 40px;

    h2 {
      font-size: 2.25em;
    }
  }

  #main-content h3 {
    font-size: 1.5em;
  }

  .faq-questions {
    padding: 20px 0;
  }

  .faq-answers {
    padding: 0 40px;

    h4 {
      font-size: 1.25em;
      font-style: italic;
      margin-bottom: 15px;
    }

    li {
      padding-bottom: 40px;
    }

    p {
      padding-bottom: 15px;
    }
  }
}
