// Guidance
/////////////////////////////////////////

.guide {
  clear: both;
  padding: 60px 0 40px;

  @include media($medium) {
    padding: 40px 20px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 60px;
  }

  h4 {
    font-size: 1.25em;
  }

  article {
    padding-bottom: 25px;

    h4 {
      margin-bottom: 12px;
    }

    ul,
    p {
      padding-bottom: 20px;

      li {
        padding-bottom: 15px;
      }
    }
  }
}
