// 404
/////////////////////////////////////////


#pagenotfound {
  #main-content {
    color: white;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

    h2 {
      font-size: 10em;
      margin-bottom: 8px;
    }

    p {
      font-size: 2em;
    }
  }
}
