{% extends "layout.html" %}

{% block page_id %}accessibility{% endblock %}
{% block title %}{{ domain }} a11y results - Pulse{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}

<header>

  <div class="description">
    <h1>{{ domain }} a11y results</h1>
    <p>
    	The a11y scan results for this website were detected on <strong>August 4, 2016</strong>.
    </p>
  </div>

</header>

<section id="main-content" class="white-bkg" data-domain="{{ domain }}">
	<div class="a11y"></div>
</section>

<script src="/static/js/accessibility/a11y.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
{% endblock %}
