{% extends "layout.html" %}

{% block page_id %}about{% endblock %}
{% block title %}About Pulse{% endblock %}
{% block description %}Frequently asked questions and information on what it Pulse measures and where to send feedback.{% endblock %}

{% block content %}
<header>

  <h2>About Pulse</h2>
  <p>
  	Pulse is a project of the General Services Administration that measures how U.S. government domains are following best practices for federal websites.
  </p>
  <p>
  	Pulse is also an <strong>experiment</strong> built on automated tools, and is <strong>probably not perfect</strong>. Pulse measures domains over the public internet using open source tools, and its results can be reviewed by anyone.
  </p>

</header>

<section id="main-content" class="white-bkg">
	<div class="wrapper">

		<header>
			<h3>Frequently Asked Questions</h3>
			<ul class="faq-questions">
				<li>
					<a href="#what-does-pulse-measure">What does Pulse measure?</a>
				</li>
				<li>
					<a href="#what-domains-are-being-measured">What federal domains are being measured?</a>
				</li>
				<li>
					<a href="#why-https">What is HTTPS, and why does Pulse measure it?</a>
				</li>
				<li>
					<a href="#why-dap">What is the Digital Analytics Program, and why does Pulse measure participation?</a>
				</li>
				<!--<li>
					<a href="#why-a11y">What is Accessibility, and why does Pulse measure it?</a>
				</li>	-->
				<li>
					<a href="#fresh-data">When was the data last updated on Pulse?</a>
				</li>
				<li>
					<a href="#send-feedback">Where can I send feedback?</a>
				</li>
				<li>
					<a href="#my-info">Your information about my domain is wrong! Can you please fix it?</a>
				</li>

			</ul>
		</header>

		<ul class="faq-answers">
			<li id="what-does-pulse-measure">
				<h4>
					What does Pulse measure about federal domains?
				</h4>
				<p>
					The first two areas Pulse measures are the use of <a href="/https/domains/">HTTPS</a> and participation in the federal government's <a href="/analytics/domains/">Digital Analytics Program</a>.<!--, and <a href="/accessibility/domains/">Accessibility & Universal Design</a>.-->
				</p>
			</li>

			<li id="what-domains-are-being-measured">
				<h4>
					What federal domains are being measured?
				</h4>
				<p>
					Currently, Pulse uses the <a href="https://github.com/GSA/data/tree/master/dotgov-domains">official <code>.gov</code> domain list</a> as a starting point, and focuses on domains owned by federal agencies. This also includes a few domains ending in <code>.fed.us</code>. Domains ending in other suffixes, such as <code>.mil</code> or <code>.us</code>, are not included at this time.
				</p>

				<p>
					Subdomains, such as <code>portal.hud.gov</code> or <code>travel.state.gov</code>, are not measured at this time.
				</p>
			</li>

			<li id="why-https">
				<h4>
					What is HTTPS, and why does Pulse measure it?
				</h4>
				<p>
					<a href="https://https.cio.gov/faq/">HTTPS</a> provides a secure connection across the internet between websites and their visitors, and is becoming the new baseline for public web services across the internet. As part of this shift, the U.S. federal government is in the process of transitioning <a href="https://https.cio.gov">entirely to HTTPS</a>.
				</p>
				<p>
					Note that HTTPS generally <strong>does not affect</strong> whether a website is vulnerable to hacking. For more information on what HTTPS does (and doesn't do), <a href="https://https.cio.gov/faq/">visit the HTTPS FAQ</a>.
				</p>
			</li>

			<li id="why-dap">
				<h4>
					What is the Digital Analytics Program, and why does Pulse measure participation?
				</h4>
				<p>
					The <a href="https://www.digitalgov.gov/services/dap/">Digital Analytics Program</a> is an important federal government project that gives federal agencies and the public a window into how people use government services.
				</p>
				<p>
					Any publicly accessible federal website in the executive branch can participate in the <a href="https://www.digitalgov.gov/services/dap/">Digital Analytics Program</a> (DAP). The easiest way for federal websites to get started is to <a href="mailto:dap@gsa.gov">send the DAP team an email</a>.
				</p>
			</li>

			<!--<li id="why-a11y">
				<h4>
					What is Accessibility, and why does Pulse measure it?
				</h4>
				<p>
					For websites, accessibility means that pages should be built according to certain standards that ensure, for example, that a visually impaired user accessing a government site through a screen reader will be able to navigate and access the same information available to a non-visually-impaired user.
				</p>
				<p>
					The Accessibility Report measures adherence to best practices for implementing accessible websites in the federal government.
				</p>
				<p>
					The US Government’s mission is to serve the needs of all its citizens, including the approximately 60 million who live with disabilities.
				</p>
			</li>-->

			<li id="fresh-data">
				<h4>When was the data last updated on Pulse?</h4>

				<p>
					All data was last measured on <strong>{{ scan_date | date("%B %d, %Y") }}</strong>.
				</p>
			</li>

			<li id="send-feedback">
				<h4>
					Where can I send feedback?
				</h4>
				<p>
					For questions specific to HTTPS deployment, you may wish to <a href="https://github.com/GSA/https/issues">open an issue on the HTTPS-Only Standard's GitHub repository</a>.
				</p>
				<p>
					For questions specific to the Digital Analytics Program, you can <a href="https://github.com/digital-analytics-program/gov-wide-code">open an issue on the DAP's GitHub repository</a>, or email <a href="mailto:dap@gsa.gov">dap@gsa.gov</a>.
				</p>
				<p>
					For questions specific to the Universal Accessibility and Design, you can open an issue on the <a href="https://github.com/18F/pulse/issues">Pulse GitHub repository</a>, or <a href="mailto:section.508@gsa.gov">email Section508.gov</a>.
				</p>
				<!--<p>
					For feedback or questions about Pulse, please <a href="https://github.com/18F/pulse/issues">open an issue on Pulse's GitHub repository</a>, or email <a href="mailto:pulse@cio.gov">pulse@cio.gov</a>.
				</p>-->
			</li>

			<li id="my-info">
				<h4>
					Your information about my domain is wrong! Can you please fix it?
				</h4>
				<p>
					If you just changed something about your domain to address an issue on Pulse, be aware that data does not yet automatically refresh on Pulse, and so there may be a delay before your domain's information updates.
				</p>
				<p>
					If you see a mistake, please send an email to <a href="mailto:pulse@cio.gov">pulse@cio.gov</a> and it will be investigated.
				</p>
			</li>

		</ul>

	</div>
</section>
{% endblock %}
