{% extends "layout.html" %}

{% block page_id %}agency{% endblock %}
{% block title %}Agency Name{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}

<header>

  <h1>Department of the Example</h1>
  <h2>Total number of domains: 55</h2>

</header>

<section id="main-content" class="white-bkg">
	<div class="wrapper">

		<ul>

			<li class="https">

				<div class="description">
					<h2>Secure HTTPS</h2>
					<h3>Domains: 44</h3>

					<p>This data measures whether federal domains support the HTTPS protocol (https://), and the strength of that support. HTTPS provides a secure connection across the internet between websites and their visitors, and is becoming the new baseline for public web services. As part of this shift, the U.S. federal government is in the process of transitioning entirely to HTTPS.</p>

				</div>

				<ul class="charts">

					<li class="https-coverage">
						<div class="percent">75%</div>
						<div class="label">HTTPS</div>
						<div class="bar">
							<div class="fill"></div>
						</div>
					</li>
					<li class="enforces-https">
						<div class="percent">50%</div>
						<div class="label">Enforces<br/>HTTPS</div>
						<div class="bar">
							<div class="fill" style="top: 50%"></div>
						</div>
					</li>
					<li class="hsts">
						<div class="percent">20%</div>
						<div class="label">HSTS</div>
						<div class="bar">
							<div class="fill"style="top: 80%"></div>
						</div>
					</li>

				</ul>
			</li>

			<li class="dap">
				<ul class="charts">

					<li>
						<div class="percent">50%</div>
						<div class="bar">
							<div class="fill" style="top: 50%"></div>
						</div>
					</li>

				</ul>

				<div class="description">
					<h2>Digital Analytics Program (DAP)</h2>
					<h3>Domains: 27</h3>
					<p>This data measures whether federal domains support the HTTPS protocol (https://), and the strength of that support. HTTPS provides a secure connection across the internet between websites and their visitors, and is becoming the new baseline for public web services. As part of this shift, the U.S. federal government is in the process of transitioning entirely to HTTPS.</p>
				</div>
			</li>

		</ul>

	</div>
</section>

{% endblock %}