{% extends "layout.html" %}

{% block page_id %}domain{% endblock %}
{% block title %}domain.gov{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}

<header>

  <h1>example.gov</h1>
  <h2>Department of the Example</h2>

</header>

<section id="main-content" class="white-bkg">
	<div class="wrapper">

		<ul>

			<li>
				<h2>HTTPS Coverage</h2>

				<ul class="coverage">
					<li>
						<span class="label">Uses HTTPS:</span>
						<span class="setting">Yes</span>
					</li>
					<li>
						<span class="label">Enforces HTTPS:</span>
						<span class="setting">Yes</span>
					</li>
					<li>
						<span class="label">Strict Transport Security (HSTS):</span>
						<span class="setting">Yes</span>
					</li>
					<li>
						<span class="label">SSL Labs Grade:</span>
						<span class="setting">A+</span>
					</li>

				</ul>

				<div class="description">
					<div class="details">
						<strong>Details:</strong> This domain enforces HTTPS. HSTS is enabled, but not for its subdomains and is not ready for preloading.
					</div>
					<div class="tls">
						<strong>TLS Issues:</strong> See the full SSL Labs report for details.
					</div>
				</div>
			</li>

			<li>
				<h2>Digital Analytics Program (DAP)</h2>

				<ul class="coverage">
					<li>
						<span class="label">Participates in DAP:</span>
						<span class="setting">Yes</span>
					</li>
				</ul>
			</li>

		</ul>

	</div>
</section>

{% endblock %}
