@charset "UTF-8";

// Imports
/////////////////////////////////////////

@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

// Breakpoints
/////////////////////////////////////////

$small:       new-breakpoint(max-width 480px, 12);
$medium:      new-breakpoint(max-width 767px, 12);
$large:       new-breakpoint(max-width 1024px, 12);
$xlarge:      new-breakpoint(max-width 1200px, 12);

// Colors
/////////////////////////////////////////

$dark-blue:       darken(#0066CC, 20%);
$medium-blue:     darken(#0066CC, 5%);
$light-blue:      #0066CC;

// Custom font sizing
/////////////////////////////////////////

h1 { font-size:   2.25em;   }
h2 { font-size:   1.5em;    }
h3 { font-size:   1.25em;   }
p  { font-size:   1.0em;    }

// Generic
/////////////////////////////////////////

body {
  background-color: $medium-blue;
}

a {
  color: white;
  font-weight: 900;

  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

footer {
  border-top: 1px solid $dark-blue;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.button {
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: white;
    color: $medium-blue;
    text-decoration: none;
  }
}

.wrapper {
  @include outer-container;
}

a#skipnav {
  background: transparent;
  color: $medium-blue;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  top: -70px;
  width: 170px;
  z-index: 100;

  @include transition(top 1s ease-out, background 1s linear);

  &:focus {
    background: white;
    left: 0px;
    outline: 0;
    position: absolute;
    top: 0px;

    @include transition(top .1s ease-in, background .5s linear);
  }
}

@import "header.scss";
@import "home.scss";
@import "layout.scss";
@import "datatables.scss";
