{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS (M-15-13 and BOD 18-01) - Pulse{% endblock %}
{% block description %}How federal government domains are doing at deploying HTTPS and HSTS.{% endblock %}

{% block content %}

{% include 'includes/https/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="/https/domains/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Domain</a>
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">By Agency</span>
    <a href="/https/guidance/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Guidance</a>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">
    <table class="agency responsive https">
      <caption>HTTPS by agency. Table is sortable via first row table headers. Each row contains an agency and related attributes.</caption>
      <thead>
        <tr>
          <th class="all" scope="col">Agency</th>
          <th class="all" scope="col">Services</th>
          <!-- <th class="desktop" scope="col">M-15-13 and BOD 18-01 Compliant</th> -->
          <th class="min-tablet" scope="col">HTTPS</th>
          <th class="desktop" scope="col">Strict Transport Security (HSTS)</th>
          <th class="desktop" scope="col">Free of Known-Weak Crypto</th>
          <th class="desktop" scope="col">Preloaded Domains</th>
        </tr>
      </thead>
    </table>
  </div>

</section>

<script src="/static/js/https/agencies.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
{% endblock %}
