{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS (M-15-13 and BOD 18-01) - Pulse{% endblock %}
{% block description %}How federal government domains are doing at deploying HTTPS and HSTS.{% endblock %}

{% block content %}

{% include 'includes/https/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">By Domain</span>
    <a href="/https/agencies/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">By Agency</a>
    <a href="/https/guidance/" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Guidance</a>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">
    <table class="domain responsive https">
      <caption>Secure HTTP(S) By Domain. Table is sortable via first row table headers. Each row contains a domain and related attributes.</caption>
      <thead>
        <tr>
          <th class="never"></th>
          <th class="all">Domain</th>
          <th class="never">Agency</th>
          <th class="min-tablet">Enforces HTTPS</th>
          <th class="min-tablet">HSTS (Strict Transport Security) </th>
          <th class="min-tablet-l">Free of RC4/3DES and SSLv2/SSLv3</th>
          <th class="min-tablet-l">Preloaded</th>
          <th class="none" scope="col"></th>
        </tr>
      </thead>
    </table>
  </div>

</section>

<script src="/static/js/https/domains.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

{% endblock %}
