---
layout: default
permalink: /https/guidance/
id: https
title: "HTTPS in the federal government - Implementation guidance"
description: "How federal government domains are doing at deploying HTTPS."
---

{% include https/header.html %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu">
    <a href="/https/domains/" class="tab">By Domain</a>
    <a href="/https/agencies/" class="tab">By Agency</a>
    <span class="tab">Guidance</span>
  </nav>

  <div class="wrapper">

    <div class="guide">

      <h2>Below you will find some helpful tips to help guide you towards getting a better score on Pulse for your domain or agency. For any further questions, please visit our <a href="/about/">frequently asked questions</a>.</h2>

      <article>

        <h3>What domains are measured?</h3>

        <p>
          Pulse measures the presence, enforcement, and quality of HTTPS for <strong>publicly accessible <code>.gov</code> domains</strong> in the federal government's <strong>executive, legislative, and judicial branches</strong>. Domains which do nothing but redirect to other websites <strong>are measured</strong>.
        </p>

        <p>
          This currently amounts to around 1,200 domains.
        </p>

      </article>

      <article>

        <h3>Implementing HTTPS</h3>

        <p>
          The process of enabling and enforcing strong HTTPS for a web service can vary widely based on the technology, size, and age of the service.
        </p>

        <p>
          Agencies working on deploying HTTPS are encouraged to consult <a href="https://https.cio.gov">https.cio.gov</a> for detailed best practices and technical guidance. <a href="https://https.cio.gov">https.cio.gov</a> is <a href="https://github.com/gsa/https">open source</a>, and agencies are also very much encouraged to contribute their own expertise and case studies.
        </p>

      </article>

      <article>

        <h3>Measuring HTTPS</h3>

        <p>
          Pulse analyzes the behavior of four "endpoints" of every domain: <code>http://</code>, <code>http://www</code>, <code>https://</code>, and <code>https://www</code>. Data from these endpoints is used to characterize the overall behavior of a domain.
        </p>

        <p>
          These measurements are performed using <a href="https://github.com/benbalter/site-inspector">open source</a> <a href="https://github.com/18F/domain-scan">tools</a> and the <a href="https://www.ssllabs.com">SSL Labs</a> <a href="https://github.com/ssllabs/ssllabs-scan/blob/stable/ssllabs-api-docs.md">API</a>.
        </p>

      </article>

      <article>

        <h3>Fields</h3>

        <ul>
          <li><strong>Uses HTTPS</strong></li>
          <li><strong>Values:</strong> No, Yes</li>
          <li>Whether a site can be used over HTTPS, on either its bare domain or its <code>www</code> subdomain. Sites that appear to redirect "down" from HTTPS to HTTP are considered a "No".</li>
        </ul>

        <ul>
          <li><strong>Enforces HTTPS</strong></li>
          <li><strong>Values:</strong> No, Yes</li>
          <li>Whether a domain appears to "default" to using HTTPS. This can be done either by redirecting its HTTP endpoints to HTTPS, or by only being available over HTTPS.</li>
        </ul>

        <ul>
          <li><strong>Strict Transport Security (HSTS)</strong></li>
          <li><strong>Values:</strong> No, Yes, "Yes, and preload-ready", "Yes, and preloaded"</li>
          <li>Whether a domain has implemented <a href="https://https.cio.gov/hsts/">HTTP Strict Transport Security</a>, which ensures that <a href="http://caniuse.com/#search=hsts">supporting browsers</a> will only ever communicate with a domain over HTTPS (even if the user clicks or types in a plain HTTP link).</li>
          <li>"Yes" means that a valid <code>Strict-Transport-Security</code> header with a non-zero <code>max-age</code> is present on the domain's default endpoint.</li>
          <li>"Yes, and preload-ready" means that the domain has implemented a strong HSTS header on its <strong>bare domain</strong> whose policy covers all subdomains, and has indicated consent to <a href="https://hstspreload.appspot.com">preloading by all major browsers</a> as HTTPS-only.</li>
          <li>"Yes, and preloaded" means that the domain is visibly preload-ready (meets the above criteria), <strong>and</strong> that the domain is actually in the public versioned <a href="https://chromium.googlesource.com/chromium/src/+/master/net/http/transport_security_state_static.json">Chrome preload list</a>. Reaching this step effectively means that a domain's namespace is permanently and fully committed to HTTPS.
          </li>
        </ul>

        <ul>
          <li><strong>SSL Labs Grade</strong></li>
          <li><strong>Values:</strong> T, F, C, B, A-, A, A+</li>
          <li>A grade measuring the <em>quality</em> of HTTPS configuration, as calculated by <a href="https://www.ssllabs.com">SSL Labs</a>. SSL Labs operates a free and universally referenced benchmarking service.</li>
          <li>Grades are calculated using a <a href="https://www.ssllabs.com/downloads/SSL_Server_Rating_Guide.pdf">detailed methodology</a> that looks at the strength of cryptographic keys, choices of ciphers, supported protocols, and other relevant standards (such as HSTS).</li>
          <li>Grades are hyperlinked to detailed reports for each domain on SSL Labs. As an example, view the <a href="https://www.ssllabs.com/ssltest/analyze.html?d=pulse.cio.gov">SSL Labs report for Pulse itself</a>.</li>
        </ul>

      </article>

    </div>

  </div>

</section>
